<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Countdown</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.countdownsocial.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.CountdownSocial.Countdown</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb255561074614999</string>
				<string>CountdownSocial</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.6</string>
	<key>FacebookAppID</key>
	<string>255561074614999</string>
	<key>FacebookDisplayName</key>
	<string>Countdown Social</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUseDescription</key>
	<string>Countdown needs to access your camera for you upload your video and connect!</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Countdown needs your current location to find people near you.</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
